{% extends "base.html" %}

{% block title %}
{{ title }}
{% endblock %}

{% block content %}

<form action="{{ route }}">
  <div class="field">
    <label class="label"> Search </label>
    <div class="control">
      <input class="input" name="q" type="text" {% if q %} value="{{ q }}" {% else %} placeholder="Search by title, author and ISBN" {% endif %}>
    </div>
  </div>

  {% if q and nb-results == 0 %}
  <div class="columns is-centered">
    <div class="is-half">
      <p class="is-primary">
        No results
      </p>
    </div>
  </div>
  {% endif %}

</form>

{% for msg in messages %}
<div>
  {{ msg }}
</div>
{% endfor %}

{% for card in cards %}
<div name="cardid" data-id="{{ card.id }}" id="card{{ card.id }}" class="box content">
  <article class="post">
    <div class="media">
      <div class="media-left">
        <p class="image is-64x64">
          <img src="{{ card.cover-url }}">
        </p>
      </div>
      <div class="media-content">
        {% block card_content %}
        <div class="content">
          <a onclick="alert('clicked')">
            <span class="title is-6"> {{ card.title }} </span>
          </a>
          <div> {{ card.authors }} </div>
          <span> éd. {{ card.publisher | capfirst }} </span>
          <p>
            {% if card.availability %}
            <span> availability: {{ card.availability }}  </span>
            {% endif %}
          </p>
        </div>
        {% endblock card_content %}
      </div>
      <div class="media-right">
          <div class="level">
              <span class="level-item" name="price" data-price="{{ card.price }}"> {{ card.price | price }} €</span>
              <span class="tag level-item
{{ card | quantity | quantity-style:(:positive "is-success" :negative "is-danger is-light" :zero "") }}">
                  x {{ card | quantity }}</span>
          </div>

        <!-- TODO how to handle duplication of forms? how to stop them getting out of sync
             with the end point parameters too? -->
        <div class="level">
            {% block card_button_row %}
            <form action="/card/add-or-create/" method="POST" class="level-item">
                <input name="q" type="hidden" value="{{ q }}">
                <input name="referer-route" type="hidden" value="{{ route }}">
                <input name="book-id"  type="hidden" value="{{ card.id ]}">
                <input name="title" type="hidden" value="{{ card.title }}">
                <input name="title" type="hidden" value="{{ card.title }}">
                <input name="isbn" type="hidden"  value="{{ card.isbn }}" />
                <input name="cover-url" type="hidden" value="{{ card.cover-url }}" />
                <input name="publisher" type="hidden" value="{{ card.publisher }}" />
                <input type="submit" class="button" value="Add...">
            </form>
            <form action="/card/quick-add-stock/" method="POST" class="level-item">
                <input name="quantity" type="hidden" value="1" />
                <input name="q" type="hidden" value="{{ q }}">
                <input name="referer-route" type="hidden" value="{{ route }}">
                <input name="book-id" type="hidden" value="{{ card.id }}" />
                <input name="title" type="hidden" value="{{ card.title }}" />
                <input name="isbn" type="hidden"  value="{{ card.isbn }}" />
                <input name="cover-url" type="hidden" value="{{ card.cover-url }}"/>
                <input name="publisher" type="hidden" value="{{ card.publisher }}" />
                <input type="submit" class="button" value="+1">
            </form>
            {% endblock card_button_row %}
        </div>
      </div>

    </div>
  </article>
</div>
{% endfor %}
{% endblock %}
