{% extends "search.html" %}

{% block card_content %}
<div class="content">
    <a href="{{ card | url }}">
        <h4> {{ card.title }} </h4>
    </a>
    <p>
        <span> {{ card.authors }} </span>
        <span class="tag"> shelf: {{ card.shelf }} (todo) </span>
        <span> {{ card.publisher | capfirst }} </span>
    </p>
</div>
{% endblock card_content %}
